.problem-container {
    text-align: center;
    padding: 20px;
    height: 500px;
    /* 예시 높이, 필요에 따라 조절 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    /* 배경색 설정, 필요에 따라 변경 가능 */
}

.problem-container img {
    max-width: 90%;
    height: 300px;
    /* 높이 고정 */
    object-fit: contain;
    /* 이미지 비율 유지하면서 높이에 맞춤 */
    margin: auto;
    /* 수평 중앙 정렬 */
}

.options-container {
    display: flex;
    justify-content: center;
}

.options-container div {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.options-container div input[type="checkbox"] {
    width: 24px;
    /* 체크박스 크기 조정 */
    height: 24px;
    /* 체크박스 크기 조정 */
    cursor: pointer;
}

.options-container div label {
    font-size: 1.2rem;
    font-weight: bold;
    /* 라벨 글씨 크기 증가 */
    margin-left: 1px;
    /* 라벨과 체크박스 사이 간격 조정 */
}

.problem-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}