.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.8);
  position: absolute;
  width: 100%;
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  position: absolute;
  transform: opacity 1200ms ease-in-out, transform 1200ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  position: absolute;
  transition: opacity 300ms ease-in-out;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  position: absolute;
}